@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

.header {
    color: #400090;
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 40px;
    font-weight: bold;
}

.logo h1 a {
    text-decoration: none;
}

.navigation a {
    color: #333;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
}

.apps-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 90px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.apps-menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    margin: 10px;
    padding: 10px;
}

.apps-menu a:last-child {
    margin-bottom: 0;
}

.apps-menu a:hover {
    color: #7406f9;
}

main {
    padding: 20px;
    text-align: center;
}

.title h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.input {
    margin: 20px auto;
    width: 40%;
}

.input input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-focused {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.icons span {
    margin: 0 10px;
    font-size: 26px;
    cursor: pointer;
}

.icons span:hover {
    color: #7406f9;
}

.text {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    width: 576px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.text p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    text-align: justify;
    z-index: 1;
}

.current-affairs {
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 476px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns {
    display: flex;
    margin-top: 20px; 
    justify-content: center;
}

.column {
    flex: 1;
    padding: 0;
    margin: 0 10px;
}

.column:nth-child(2) {
    margin-left: 20px;
}

.current-affairs h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#affairs-list-left,
#affairs-list-right {
    padding: 0;
}

#affairs-list-left li,
#affairs-list-right li {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer {
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.links-center ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.links-center ul li {
    margin: 0 10px;
    font-size: 12px;
    padding: 10px;
}

.links-center ul li a {
    color: #333;
    text-decoration: none;
    font-size: 12px;
}

.links-center ul li a:hover {
    color: #7406f9;
}

.link-configuration {
    display: flex;
    align-items: center;
}

.link-configuration .settings {
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
}

.link-configuration .settings .settings-outline {
    color: #333;
}

.link-configuration .settings:hover {
    color: #7406f9;
}

.link-configuration .settings-name {
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
}

.link-configuration .settings-name a {
    color: #333;
    text-decoration: none;

}

.link-configuration .settings-name a:hover {
    color: #7406f9;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav {
        margin-top: 20px;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 10px;
    }

    .logo h1 {
        font-size: 28px;
    }

    .navigation a {
        font-size: 20px;
        margin-left: 0;
    }

    main {
        padding: 10px;
    }

    .title h1 {
        font-size: 24px;
    }

    .input {
        width: 80%;
    }

    .input input[type="text"] {
        width: 100%;
    }

    .icons span {
        font-size: 22px;
    }

    .text {
        width: 100%;
        margin: 20px auto;
    }

    .links-center ul {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 769px) {
    .input {
        width: 50%;
        margin: 20px auto;
    }

    .text {
        width: 576px;
        margin: 30px auto;
    }
}